---

import { PLACEHOLDER_FORMATS } from "@/constants";

interface Props {
  base64: string;
  imagen: string;
}

const { base64, imagen } = Astro.props;
---

<section
  class="banner"
  style={`--base64: url(${base64});
    --small-lcpi: url(/img/${imagen}-banner-small-lcpi.${PLACEHOLDER_FORMATS});
    --small: url(/img/${imagen}-banner.${PLACEHOLDER_FORMATS});
    --large-lcpi: url(/img/${imagen}-banner-large-lcpi.${PLACEHOLDER_FORMATS});
    --large: url(/img/${imagen}-banner.${PLACEHOLDER_FORMATS});`}
>
  <slot />
</section>
