---
import Layout from '../layout/Layout.astro';
import BannerData from '../data/BannerData';
import Formulario from '../components/moleculs/Formulario.astro';
import Wrapper from '@/components/Wrapper.astro';
import Typografic from '@/components/Typografic.astro';
import SectionPage from '@/components/SectionPage.astro';
import Button from '@/components/Button.astro';
import RedesSociales from '@/components/moleculs/RedesSociales.astro';
import Banner from '@/components/moleculs/Banner.astro';
import Dialog from '@/components/moleculs/Dialog.astro';
import { PLACEHOLDER_FORMATS } from '@/constants';
const { description, titulo, imagenesBanner } = BannerData.contacto;
const { imagen } = imagenesBanner;
---

<Layout titulo="contacto" descripction="contactate con nosotros, mediante nuestras redes ">
  <link slot="preload" fetchpriority="high" rel="preload" as="image" href=`/img/${imagen}-banner-small-lcpi.${PLACEHOLDER_FORMATS}` media="(max-width: 640px)" type="image/webp" />
  <link slot="preload" fetchpriority="high" rel="preload" as="image" href=`/img/${imagen}-banner-large-lcpi.${PLACEHOLDER_FORMATS}` media="(min-width: 641px)" type="image/webp" />
  <Banner {...imagenesBanner}>
    <Wrapper
      style={{
        display: 'grid',
        placeItems: 'center',
        position: 'relative',
      }}
      align="center"
      colors="white"
    >
      <article class="banner__contenido textFlow">
        <Typografic as="h1" size="superTitle" weigth="700">{titulo}</Typografic>
        <Typografic as="p" style="text-wrap: balance;">{description}</Typografic>
        <Button href="https://api.whatsapp.com/send/?phone=51980816746&text=%C2%A1Hola%21+%EF%BF%BD+Mas+informaci%C3%B3n&type=phone_number&app_absent=0" target="_blank" variant="theme2">Mas Información</Button>
      </article>
    </Wrapper>
  </Banner>
  <SectionPage variant="theme2">
    <Wrapper variant="form" style="place-items: center;">
      <Typografic as="h2" size="titleSection" aling="center" weigth="600" variant="colorBlue">Ponte en Contacto</Typografic>
      <Formulario class="form">
        <input class="form__field" aria-label="nombre" name="nombre" id="nombre" required placeholder="Nombre Completo" />
        <input class="form__field" type="tel" aria-label="numero de contacto" name="numero de contacto" id="apellido" required placeholder="Número de contacto" />
        <input class="form__field" aria-label="email" name="email" type="email" id="email" required placeholder="Email" />
        <textarea class="form__field form__textArea" name="observacion" id="observacion" placeholder="Alguna observacion"></textarea>
        <button class="button form__button button--theme1" title="Registrate en el formulario" style="justify-content : center;">Inscribete</button>
        <RedesSociales />
        <Dialog />
      </Formulario>
    </Wrapper>
  </SectionPage>
</Layout>
