---
import Layout from "../layout/Layout.astro";
import Cta from "../components/Cta.astro";
import BannerData from "../data/BannerData";
import InfoCursos from "../sections/InfoCursos.astro";
import BannerNew from "../components/BannerNew.astro";
import Formulario from "@/components/moleculs/Formulario.astro";
import Typografic from "@/components/Typografic.astro";
import Button from "@/components/Button.astro";
import RedesSociales from "@/components/moleculs/RedesSociales.astro";
import { getCollection } from "astro:content";
const { description, titulo, textButton, imagenesBanner } = BannerData.cursos;
const { imagen } = imagenesBanner;

const colectionCurso = (await getCollection("curso")).map(
    ({ data }) => data.titulo,
);
const cursosConPredeterminado = ["Selecciona tu curso", ...colectionCurso];
---

<Layout
    titulo="cursos"
    descripction="Ofrecemos los mejores cursos virtuales mas demandados en el area tecnologica"
>
    <link
        slot="preload"
        fetchpriority="high"
        rel="preload"
        as="image"
        href=`/img/${imagen}-small-lcpi.avif`
        media="(max-width: 640px)"
        type="image/webp"
    />
    <link
        slot="preload"
        fetchpriority="high"
        rel="preload"
        as="image"
        href=`/img/${imagen}-large-lcpi.avif`
        media="(min-width: 641px)"
        type="image/webp"
    />
    <BannerNew
        titulo={titulo}
        descripcion={description}
        textoBoton={textButton}
        imagenesBanner={imagenesBanner}
        columnas={2}
    >
    <Formulario class="form form--banner" slot="Columna2" variant="banner">
        <Typografic as="h2" weigth="600" variant="colorBlue" >Inscribete aqui</Typografic>
        <input
            class="form__field"
            aria-label="nombre"
            name="nombre"
            id="nombre"
            required
            placeholder="Nombre Completo"
        />
        <input
            class="form__field"
            type="tel"
            aria-label="numero de contacto"
            name="numero de contacto"
            id="apellido"
            required
            placeholder="Número de contacto"
        />
        <input
            class="form__field"
            aria-label="email"
            name="email"
            type="email"
            id="email"
            required
            placeholder="Email"
        />
        <div class="form__select-wrapper" >
            <select
                class="form__field form__select"
                name="programasEstudio"
                aria-label="seleccione su programa de estudio"
                id="programas"
            >
                {
                    cursosConPredeterminado.map((titulo) => {
                        return <option value={titulo}>{titulo}</option>;
                    })
                }
            </select>
        </div>
        <textarea
            class="form__field form__textArea"
            name="observacion"
            id="observacion"
            placeholder="Alguna observacion"></textarea>
        <Button title="Registrate en el formulario" style="justify-content : center;">Inscribete</Button>
        <RedesSociales/>
    </Formulario>
    </BannerNew>
    <InfoCursos />
    <Cta slot="CTA" />
</Layout>

<style lang="scss">
    .container {
        position: relative;
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr;
        height: 100%;
        text-align: center;
        color: white;
        padding-block: 2rem;

        @media (width > 700px) {
            grid-template-columns: 5fr 4fr;
        }
    }

    .contenido {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;

        @media (width > 700px) {
            align-items: start;
        }

        & > .superTitulo {
            text-align: center;
            @media (width > 700px) {
                text-align: start;
            }
        }

        &__boton {
            color: rgb(255, 255, 255);
            justify-self: center;
            padding: 0.5rem 1rem;
            border-radius: 0.4rem;
            background-color: var(--color-Primary500);
            font-weight: 700;
            margin-top: 0.5rem;

            &:hover {
                background-color: var(--color-Primary600);
            }
        }

        > p {
            text-align: center;
            color: #ececec;
            @media (width > 700px) {
                text-align: start;
            }
        }
    }
</style>
