---
import Beneficios from "../components/Beneficios.astro";
import Cursos from "../components/Cursos.astro";
import Layout from "../layout/Layout.astro";
import BannerData from "../data/BannerData";
import AboutUs from "../components/AboutUs.astro";
import Cta from "../components/Cta.astro";
import BannerNew from "../components/BannerNew.astro";
import { Icon } from "astro-icon/components";
import Button from "@/components/Button.astro";
import { getCollection } from "astro:content";
import Typografic from "@/components/Typografic.astro";
import Formulario from "@/components/moleculs/Formulario.astro";
const { description, titulo, textButton, imagenesBanner } = BannerData.home;
const { imagen } = imagenesBanner;

const colectionCurso = (await getCollection("curso")).map(
    ({ data }) => data.titulo,
);
const cursosConPredeterminado = ["Selecciona tu curso", ...colectionCurso];

---

<Layout
    titulo="inicio"
    descripction="Instituto de formacion tencologica tu mejor opción en enseñanza online"
>
    <link
        slot="preload"
        fetchpriority="high"
        rel="preload"
        as="image"
        href=`/img/${imagen}-small-lcpi.avif`
        media="(max-width: 640px)"
        type="image/webp"
    />
    <link
        slot="preload"
        fetchpriority="high"
        rel="preload"
        as="image"
        href=`/img/${imagen}-large-lcpi.avif`
        media="(min-width: 641px)"
        type="image/webp"
    />
    <BannerNew
        titulo={titulo}
        descripcion={description}
        textoBoton={textButton}
        imagenesBanner={imagenesBanner}
        columnas={2}
    >
    
    <Formulario class="form form--banner" slot="Columna2" variant="banner">
        <Typografic as="h2" weigth="600" variant="colorBlue" >Inscribete aqui</Typografic>
        <input
            class="form__field"
            aria-label="nombre"
            name="nombre"
            id="nombre"
            required
            placeholder="Nombre Completo"
        />
        <input
            class="form__field"
            type="tel"
            aria-label="numero de contacto"
            name="numero de contacto"
            id="apellido"
            required
            placeholder="Número de contacto"
        />
        <input
            class="form__field"
            aria-label="email"
            name="email"
            type="email"
            id="email"
            required
            placeholder="Email"
        />
        <div class="form__select-wrapper" >
            <select
                class="form__field form__select"
                name="programasEstudio"
                aria-label="seleccione su programa de estudio"
                id="programas"
            >
                {
                    cursosConPredeterminado.map((titulo) => {
                        return <option value={titulo}>{titulo}</option>;
                    })
                }
            </select>
        </div>
        <textarea
            class="form__field form__textArea"
            name="observacion"
            id="observacion"
            placeholder="Alguna observacion"></textarea>
        <Button title="Registrate en el formulario" style="justify-content : center;">Inscribete</Button>
        <div class="Redes-Container">
            <a
                class="RedesSociales-Icon"
                href="https://www.facebook.com/people/Instituto-de-Formaci%C3%B3n-Tecnol%C3%B3gica-IFT/61555145250465/"
                aria-label=`Ir a la nuestro facebook`
                target="_blank"
                rel="noopener noreferrer"
            >
                <Icon name="facebook" size={30} color="#3774f6" />
            </a>
            <a
                class="RedesSociales-Icon"
                href="https://www.youtube.com/channel/UCesc5xJfVHuvT6k401bGlcg"
                aria-label=`Ir a la nuestro canal de Youtube`
                target="_blank"
                rel="noopener noreferrer"
            >
                <Icon name="Youtube" size={30} color="#ff0808" />
            </a>
            <a
                class="RedesSociales-Icon"
                href="https://www.instagram.com/institutoift/?igsh=NTc4MTIwNjQ2YQ%3D%3D"
                aria-label=`Ir a la nuestro Instagram`
                target="_blank"
                rel="noopener noreferrer"
            >
                <Icon name="instagram-2016" size={26} />
                <a
                    class="RedesSociales-Icon"
                    href="https://www.tiktok.com/@instituto.ift"
                    aria-label=`Ir a la nuestro Instagram`
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <Icon name="Tiktok" size={30} color="#080808" />
                </a>
    
                <dialog>
                    <div>
                        <span></span>
                        <span></span>
                    </div>
                    <h3></h3>
                    <button>X</button>
                </dialog>
            </a>
        </div>
    </Formulario>
    
    </BannerNew>
    <Cursos />
    <Beneficios />
    <AboutUs />
    <Cta slot="CTA" />
</Layout>

