---
import Layout from '../layout/Layout.astro';
import BannerData from '../data/BannerData';
import Servicios2 from '../sections/servicios.astro';
import SectionPage from '@/components/SectionPage.astro';
import Wrapper from '@/components/Wrapper.astro';
import Typografic from '@/components/Typografic.astro';
const { description, titulo, imagenesBanner } = BannerData.servicios;
const { imagen } = imagenesBanner;
import Banner from '@/components/moleculs/Banner.astro';
import Button from '@/components/Button.astro';
import { PLACEHOLDER_FORMATS } from '@/constants';
---

<Layout titulo="servicios" descripction="brindamos clases virtuales personalizadas y creamos paginas web">
  <link slot="preload" fetchpriority="high" rel="preload" as="image" href=`/img/${imagen}-banner-small-lcpi.${PLACEHOLDER_FORMATS}` media="(max-width: 640px)" type="image/webp" />
  <link slot="preload" fetchpriority="high" rel="preload" as="image" href=`/img/${imagen}-banner-large-lcpi.${PLACEHOLDER_FORMATS}` media="(min-width: 641px)" type="image/webp" />
  <Banner {...imagenesBanner}>
    <Wrapper style={{ display: 'grid', placeItems: 'center', position: 'relative' }} align="center" colors="white">
      <article class="banner__contenido textFlow">
        <Typografic as="h1" size="superTitle" weigth="700">{titulo}</Typografic>
        <Typografic as="p" style="text-wrap: balance;">{description}</Typografic>
        <Button href="https://api.whatsapp.com/send/?phone=51980816746&text=%C2%A1Hola%21+%EF%BF%BD+Mas+informaci%C3%B3n&type=phone_number&app_absent=0" target="_blank" variant="theme2">Mas Información</Button>
      </article>
    </Wrapper>
  </Banner>
  <SectionPage style="padding-bottom: 0;">
    <Wrapper>
      <Typografic as="h2" variant="colorBlue" size="title1" aling="center" weigth="600">Creación de Paginas Web</Typografic>
    </Wrapper>
  </SectionPage>
  <Servicios2 />
</Layout>
