---
import Wrapper from './Wrapper.astro';
import Button from './Button.astro';
import Typografic from './Typografic.astro';

interface imagenesBanner {
    base64: string;
    imagen: string;
}

interface Props {
    titulo: string;
    descripcion: string;
    textoBoton: string;
    columnas?: 1 | 2;
    imagenesBanner: imagenesBanner;
}

const { titulo, descripcion, textoBoton, columnas, imagenesBanner } =
    Astro.props;

const { base64, imagen } = imagenesBanner;
---

<section
    class="Banner"
    style={`--base64: url(${base64});
--small-lcpi: url(/img/${imagen}-small-lcpi.avif);
--small: url(/img/${imagen}.avif);
--large-lcpi: url(/img/${imagen}-large-lcpi.avif);
--large: url(/img/${imagen}.avif);`}
>
    <Wrapper classBlock="Banner-wrapper" data-columns={columnas}>
        <article class="Banner__Contenido" data-columns={columnas}>
            <Typografic as='h1' size='superTitle' weigth='700'>{titulo}</Typografic>
            <p>{descripcion}</p>
            <Button
                href="https://api.whatsapp.com/send/?phone=51980816746&text=%C2%A1Hola%21+%EF%BF%BD+Mas+informaci%C3%B3n&type=phone_number&app_absent=0"
                target="_blank"
                variant='theme2'
                >{textoBoton}</>
        </article>
        <slot name="Columna2" />
    </Wrapper>
</section>

<style lang="scss">
    $breakPoint: 768px;

    .Banner {
        --Ibase64: var(--base64);
        --lcpi: var(--small-lcpi);
        --original: var(--small);

        padding-block: var(--header-heigth);
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: var(--original), var(--lcpi), var(--Ibase64);
        min-height: 100svh;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #020202c3;
        }

        &-wrapper {
            position: relative;
            display: grid;
            min-height: calc(100svh - var(--header-heigth));
            // min-height: 100svh;
            grid-template-columns: 1fr;
            align-items: center;
            gap: 2rem;
            padding-block: 2.5rem;

            &[data-columns="2"] {
                @media (width > $breakPoint) {
                    grid-template-columns: 5fr 4fr;
                }
            }
        }

        &__Contenido {
            display: grid;
            gap: 1rem;
            justify-items: center;
            text-align: center;
            color: white;

            > h1 {
                text-align: center;
                @media (width > $breakPoint) {
                    text-align: start;
                }
            }

            > :global(p) {
                width: min(100%, 75ch);
            }

            > a {
                margin-top: 0.5rem;
            }

            &[data-columns="2"] {
                @media (width > $breakPoint) {
                    justify-items: start;
                    text-align: start;
                }
            }
        }

        @media (width > 768px) {
            --lcpi: var(--large-lcpi);
            --original: var(--large);
        }
    }
</style>
