---
interface Props {
    titulo: string;
    descripcion: string;
    url: string;
    imagenes: { base64: string; original: string };
}

const { titulo, descripcion, imagenes, url } = Astro.props;

const { original } = imagenes;
---

<article class=`Bento`>
    <a
        class="Imagen-Container animation-loader"
        aria-label={`Ir a la pagina del curso de ${titulo}`}
        href={`${url}`}
        style="overflow: hidden; display: block; max-width: 100%; height: 100%; max-height: 80vh;"
    >
        <img
            class="Bento__imagen"
            data-srcx={`${original}.avif`}
            alt={`${titulo} - IFT`}
        />
    </a>
    <div class="Bento__Contenido">
        <h3 class="Bento__titulo">{titulo}</h3>
        <p class="Bento__texto">{descripcion}</p>
        <a 
            href={`${url}`} 
            aria-label={`Ir a la pagina del curso de ${titulo}`}
            class="boton--primary" >Inscribete</a>
    </div>
</article>

<style lang="scss">
    .Bento {
        display: grid;
        border-radius: .35rem;
        overflow: hidden;
        background-color: #ffffff;
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

        &__imagen {
            
            aspect-ratio: 2/2.5;
            transition: transform 0.2s;
            background-color: #d7e1e7;

            &:hover {
                transform: scale(.95);
            }

        }

        &__titulo{
             color: #494b54;
        }

        &__texto {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            overflow: hidden;
            color: rgb(69, 79, 95);
        }

        &__Hecho{
            font-weight: 500;
        }
    }

    .Imagen-Container{
        position: relative;

        &.animation-loader{

            background-color: #d7e1e7;
            animation: loader 1.5s infinite alternate;
        }

        &::before{
            content: "";
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #d7e1e7;
           
        }

        &.loaderOk::before{
            content: none;
        }
    }

    .Bento__Contenido {
        
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;
    }
</style>


