---
import Button from './Button.astro';
import PictureImg from "@/components/atoms/PictureImg.astro";
import Typografic from './Typografic.astro';

interface Image {
    placeholder: {
        imgName: string;
        formats: string;
    };
    original: {
        imgName: string;
        alt: string;
        formats: string[];
    };
}

interface Props {
    titulo: string;
    descripcion: string;
    url: string;
    imagenes: Image;
}

const { titulo, descripcion, imagenes, url } = Astro.props;

const { original, placeholder } = imagenes;
---

<article class=`Bento`>
    
    <PictureImg {placeholder} {original} aspectRatio='poster' ratioNatural={false} style="position:relative"/>
    
    <div class="Bento__Contenido">
        <Typografic as='h3' variant='colorBlue' weigth='600'>{titulo}</Typografic>
        <p class="Bento__texto">{descripcion}</p>
        <Button 
                variant='theme1'
                size='content'
            href={`${url}/#malla-curricular`} 
            aria-label={`Ir a la pagina del curso de ${titulo}`}
             >Más información</Button>
    </div>
</article> 

<style lang="scss">
    .Bento {
        display: grid;
        border-radius: .35rem;
        overflow: hidden;
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

        &__texto {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            overflow: hidden;
            color: rgb(69, 79, 95);
        }

        &__Hecho{
            font-weight: 500;
        }
    }

    .Bento__Contenido {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;
    }
</style>


