---
import type { CursosDatas } from '@/interface/Cursos';
import { Icon } from 'astro-icon/components';

interface Props extends CursosDatas {}

const { nodes } = Astro.props;
---

{
   nodes.map(({ slug, cursosMalla }, index) => (
      <section class:list={['section section-page', { invert: index % 2 === 1 }]}>
         <div class="wrapper container">
            <div class="container__content loading-top">
               <small class="font-bebas-neue fs-normal">Curso</small>
               <h2 class="container__title font-bebas-neue">{cursosMalla.id}</h2>
               <p> {cursosMalla.descripcion} </p>
               <ul class="container__list">
                  <li class="listIcon">
                     <Icon name="CheckIcon" size={22} />
                     <span>Virtual y Asincrono</span>
                  </li>
                  <li class="listIcon">
                     <Icon name="CheckIcon" size={22} />
                     <span>Certificación al Finalizar</span>
                  </li>
                  <li class="listIcon">
                     <Icon name="CheckIcon" size={22} />
                     <span>Plataforma Virtual</span>
                  </li>
               </ul>
               <a 
               class="button button--primary button--content"
               style="margin-top: 1rem;"
                href={`/cursos/${slug}/#malla-curricular`}
                >Ver Malla</a>
            </div>
            <div class="container__imgWrapper loading-top">
               <img
                  class="container__img"
                  src={cursosMalla.image.mediaItemUrl}
                  alt={cursosMalla.id}
                  style={` aspect-ratio : ${cursosMalla.image.mediaDetails.width} /  ${cursosMalla.image.mediaDetails.height} `}
               />
            </div>
            
         </div>
      </section>
   ))
}

<!-- <section class="section section-page">
   <div class="wrapper container">
      <div class="container__content loading-top">
         <small class="font-bebas-neue fs-normal">Curso</small>
         <h2 class="container__title font-bebas-neue">WordPress</h2>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit eveniet illo ex iure possimus similique.</p>
         <ul class="container__list">
            <li class="listIcon">
               <Icon name="CheckIcon" size={22} />
               <span>Lorem ipsum dolor sit amet.</span>
            </li>
            <li class="listIcon">
               <Icon name="CheckIcon" size={22} />
               <span>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus illo consectetur sapiente soluta
                  hic quam?
               </span>
            </li>
            <li class="listIcon">
               <Icon name="CheckIcon" size={22} />
               <span>Lorem ipsum dolor sit amet.</span>
            </li>
            <li class="listIcon">
               <Icon name="CheckIcon" size={22} />
               <span>Lorem ipsum dolor sit amet.</span>
            </li>
         </ul>
      </div>
      <div class="container__imgWrapper loading-top">
         <img
            class="container__img"
            src="https://integro.ancorathemes.com/wp-content/uploads/elementor/thumbs/img-6-copyright-qk4t0xx8xp2ymywwuyacahslqwlvzmj3pz6zlvo0dc.jpg"
            alt="img1"
         />
      </div>
   </div>
</section>
<section class="section section-page invert">
   <div class="wrapper container">
      <div class="container__content loading-top">
         <small class="font-bebas-neue fs-normal">Curso</small>
         <h2 class="container__title font-bebas-neue">WordPress</h2>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit eveniet illo ex iure possimus similique.</p>
         <ul class="container__list">
            <li class="listIcon">
               <Icon name="CheckIcon" size={22} />
               <span>Lorem ipsum dolor sit amet.</span>
            </li>
            <li class="listIcon">
               <Icon name="CheckIcon" size={22} />
               <span>Lorem ipsum dolor sit amet.</span>
            </li>
            <li class="listIcon">
               <Icon name="CheckIcon" size={22} />
               <span>Lorem ipsum dolor sit amet.</span>
            </li>
            <li class="listIcon">
               <Icon name="CheckIcon" size={22} />
               <span>Lorem ipsum dolor sit amet.</span>
            </li>
         </ul>
      </div>
      <div class="container__imgWrapper loading-top">
         <img
            class="container__img"
            src="https://integro.ancorathemes.com/wp-content/uploads/elementor/thumbs/img-6-copyright-qk4t0xx8xp2ymywwuyacahslqwlvzmj3pz6zlvo0dc.jpg"
            alt="img1"
         />
      </div>
   </div>
</section>
<section class="section section-page">
   <div class="wrapper container">
      <div class="container__content loading-top">
         <small class="font-bebas-neue fs-normal">Curso</small>
         <h2 class="container__title font-bebas-neue">WordPress</h2>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit eveniet illo ex iure possimus similique.</p>
         <ul class="container__list">
            <li class="listIcon">
               <Icon name="CheckIcon" size={22} />
               <span>Lorem ipsum dolor sit amet.</span>
            </li>
            <li class="listIcon">
               <Icon name="CheckIcon" size={22} />
               <span>Lorem ipsum dolor sit amet.</span>
            </li>
            <li class="listIcon">
               <Icon name="CheckIcon" size={22} />
               <span>Lorem ipsum dolor sit amet.</span>
            </li>
         </ul>
      </div>
      <div class="container__imgWrapper loading-top">
         <img
            class="container__img"
            src="https://integro.ancorathemes.com/wp-content/uploads/elementor/thumbs/img-6-copyright-qk4t0xx8xp2ymywwuyacahslqwlvzmj3pz6zlvo0dc.jpg"
            alt="img1"
         />
      </div>
   </div>
</section>
<section class="section section-page invert">
   <div class="wrapper container">
      <div class="container__content loading-top">
         <small class="font-bebas-neue fs-normal">Curso</small>
         <h2 class="container__title font-bebas-neue">WordPress</h2>
         <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit eveniet illo ex iure possimus similique. Lorem
            ipsum dolor sit, amet consectetur adipisicing elit.
         </p>
         <ul class="container__list">
            <li class="listIcon">
               <Icon name="CheckIcon" size={22} />
               <span>Lorem ipsum dolor sit amet.</span>
            </li>
            <li class="listIcon">
               <Icon name="CheckIcon" size={22} />
               <span>Lorem ipsum dolor sit amet.</span>
            </li>
            <li class="listIcon">
               <Icon name="CheckIcon" size={22} />
               <span>Lorem ipsum dolor sit amet.</span>
            </li>
         </ul>
      </div>
      <div class="container__imgWrapper loading-top">
         <img
            class="container__img"
            src="https://integro.ancorathemes.com/wp-content/uploads/elementor/thumbs/img-6-copyright-qk4t0xx8xp2ymywwuyacahslqwlvzmj3pz6zlvo0dc.jpg"
            alt="img1"
         />
      </div>
   </div>
</section> -->

<style lang="scss">
   .container {
      display: grid;
      grid-template-columns: minmax(0, 1fr);
      gap: 1.5rem;
      // color: white;

      @media (width >= 768px) {
         grid-template-columns: repeat(2, minmax(0, 1fr));
      }

      &__title {
         font-size: clamp(2.861rem, 2.6975rem + 0.8174vw, 3.4332rem);
      }

      &__content {
         // background-color: crimson;
         align-self: center;
         display: flex;
         flex-direction: column;
         gap: 0.5rem;
         order: 1;
      }

      &__list {
         margin-top: 1rem;
         display: flex;
         flex-direction: column;
         gap: 0.5rem;

         .listIcon {
            // background-color: skyblue;
            display: flex;
            // align-items: center;
            gap: 0.5rem;

            > svg {
               flex-shrink: 0;
               // margin-top: .2rem;
            }
         }
      }

      &__imgWrapper {
         border-radius: 0.5rem;
         overflow: hidden;
      }

      &__img {
         aspect-ratio: 16/9;
         min-height: 100%;
      }
   }
   .section {
      color: rgb(0, 0, 0);
      background-color: var(--blue-100);

      &.invert {
         background-color: var(--white-000);
         // color: white;

         @media (width >= 768px) {
            .container__content {
               order: 0;
            }
         }
      }
   }
</style>
