---
import { Icon } from 'astro-icon/components';
import CardCurso from '@/components/CardCurso.astro';
import Wrapper from '@/components/Wrapper.astro';
import SectionPage from '@/components/SectionPage.astro';
import Typografic from '@/components/Typografic.astro';
import type { OnlyInfoCourse } from '@/interface/onlyInfo.ts';
import { API_SHEETS } from '@/constants.ts';

const API = await fetch(`${API_SHEETS}?onlyinfo`);

const { data }: OnlyInfoCourse = await API.json();

const colectionCurso = data.filter((curso) => !curso.categoria);
const colectionCursoNew = data.filter((curso) => curso.categoria);

---

<SectionPage variant="theme2">
   <Wrapper>
      <Typografic as="h2" variant="colorBlue" aling="center" size="titleSection" weigth="700">Nuevos Cursos</Typografic>
      <div class="carrusel-product">
         <button class="carrusel-product__btnPrev">
            <Icon name="ArrowIcon" size={18} />
         </button>
         <div class="carrusel-product__track">
            {
               colectionCursoNew &&
                  colectionCursoNew.map(({ nombre, descripcion, url, imagenPlaceholder, imagenOriginal }) => {
                     return <CardCurso titulo={nombre} descripcion={descripcion} url={url} imagenes={{ original: imagenOriginal, placeholder: imagenPlaceholder }} />;
                  })
            }
         </div>
         <button class="carrusel-product__btnNext">
            <Icon name="ArrowIcon" size={18} />
         </button>
      </div>
   </Wrapper>
</SectionPage>

<SectionPage variant="theme2">
   <Wrapper>
      <Typografic as="h2" variant="colorBlue" aling="center" size="titleSection" weigth="700">Cursos</Typografic>
      <div class="carrusel-product">
         <button class="carrusel-product__btnPrev">
            <Icon name="ArrowIcon" size={18} />
         </button>
         <div class="carrusel-product__track">
            {
               colectionCurso.map(({ nombre, descripcion, url, imagenPlaceholder, imagenOriginal }) => {
                  return <CardCurso titulo={nombre} descripcion={descripcion} url={url} imagenes={{ original: imagenOriginal, placeholder: imagenPlaceholder }} />;
               })
            }
         </div>
         <button class="carrusel-product__btnNext">
            <Icon name="ArrowIcon" size={18} />
         </button>
      </div>
   </Wrapper>
</SectionPage>
