---
import { NUM__WSP } from "@/constants";
import { Icon } from "astro-icon/components";

export interface FooterData {
  slug: string;
  text : string;
}

interface Props {
  dataWp : FooterData[];
}
const {dataWp} = Astro.props;


---

<footer class="section-page bg-color-black-900 color-white-000">
  <div class="wrapper container">
    <nav class="container__navigation">
      <div  class="container__logo">
        <a href="/">
          <img src="/img/logo.png" alt="logo del intituto ift"   >
        </a>

      </div>

      <div class="container__groupNav">
        <h3>Cursos</h3>
        <ul class="container__list">
          {
            dataWp.map( data => (
              <li>
                <a 
                href={`/cursos/${data.slug}/#malla-curricular`}
                aria-label={`ir a la pagina del curso de ${data.text} `}
                >
                {data.text}
                </a>
                </li>
            ))
          }      
        </ul>
      </div>

     

      <div class="container__groupNav">
        <h3>Empresa</h3>
        <ul class="container__list">
          <li>informes@ift.pe</li>
          <li>
            <a href="/contacto/#ubicacion">Jr Hipólito Unanue N° 393 Cercado de Lima - Perú</a>
          </li>
          <li><a target="_blank" href={`https://api.whatsapp.com/send/?phone=${NUM__WSP}&text=%C2%A1Hola%21+%EF%BF%BD+Mas+informaci%C3%B3n&type=phone_number&app_absent=0`}
            >{NUM__WSP}</a></li>
        </ul>
      </div>
    </nav>
    <div class="container__copy">
      <div>
        <small>©2024 IFT</small><br/>
        <small>Todos los derechos reservados</small>
      </div>
      <aside>
        <a target="_blank"  class="social-link" href="https://www.facebook.com/people/Instituto-de-Formaci%C3%B3n-Tecnol%C3%B3gica-IFT/61555145250465/">
          <Icon name="facebook" class="color-blue-300" size={25} />
        </a>
        <a target="_blank"  class="social-link"  href="https://www.instagram.com/accounts/suspended/?next=https%3A%2F%2Fwww.instagram.com%2Finstitutoift%2F%3Figsh%3DNTc4MTIwNjQ2YQ%253D%253D%26__coig_ufac%3D1#">
          <Icon name="Instagram" class="color-blue-300" size={25} />
        </a>
        <a target="_blank"  class="social-link" href="https://www.tiktok.com/@instituto.ift">
          <Icon name="Tiktok" class="color-blue-300" size={25} />
        </a>
        <a target="_blank"  class="social-link" href="https://www.youtube.com/channel/UCesc5xJfVHuvT6k401bGlcg">
          <Icon name="Youtube" class="color-blue-300" size={25} />
        </a>
      </aside>
    </div>
  </div>
</footer>

<style lang="scss">
  .container {
    &__navigation {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      padding-bottom: 4rem;
      gap: 2rem 1rem;

      > :first-child {
        grid-column: span 2;
       
      }

      @media (width >= 768px) {
        grid-template-columns: min(35%, 500px) repeat(3, minmax(0, 1fr));
      }
    }

    &__logo {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      > a, img {
        width: 8rem;
      }
    }

    &__copy {
      padding-top: 2rem;
      border-top: 2px var(--white-000) solid;
      display: flex;
      justify-content: space-between;
      align-items: center;
      // background-color: cadetblue;

      > aside {
        display: flex;
        gap: 0.7rem;
      }
    }

    &__groupNav {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      > h3 {
        font-weight: 600;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      color: var(--white-100);
    }
  }

  .social-link{

    transition: transform .5s;
    &:hover{
      transform: scale(1.3);
    }
  }


</style>
