---
import SectionPage from "@/components/SectionPage.astro";
import Typografic from "@/components/Typografic.astro";
import Button from "@/components/Button.astro";
import PictureImg from "@/components/atoms/PictureImg.astro";
import SplitLayout from "@/components/moleculs/SplitLayout.astro";
import type { ApiResponse } from "@/interface/Cursos";

const API = await fetch(
  'https://script.googleusercontent.com/macros/echo?user_content_key=LbSJXfoaRtwhQ74nmJnh4a7ydCyJTd3In_uC6k7jX76q88FGLr6sUEz2QkasmToPChl5O_TQNmVcB_PQ_xMQxxwnEyyd-iaJm5_BxDlH2jW0nuo2oDemN9CCS2h10ox_1xSncGQajx_ryfhECjZEnNH0oy04xHJIbzow0XPN1rera9F70O4brr3QNcT-uUM0BH2U_ReOT1-t8QNb39h51Iv6m7F_gCa40luVwEoBwXyI_D1SG56PxNz9Jw9Md8uu&lib=MuykA3xI1H7i-EXUAVvNKGpGVSsJW4Shd',
);

const { data } : ApiResponse = await API.json();

const colectionCurso = data;


---

{
    colectionCurso.map(({ nombre, descripcion, url, imagenPlaceholder, imagenOriginal }, index) => (
        <SectionPage  {...((index + 1) % 2 === 0 ? {variant: 'theme1'} : {variant: 'theme2'})}>
            <SplitLayout
                directionContent={(index + 1) % 2 === 0 ? 'bottomRigth' : 'bottomLeft'}
                colors="white"
                variantWrapper="medium"
            >
                <div class="textFlow">
                    <Typografic
                        as="h2"
                        size="title1"
                        weigth="700"
                        variant="colorBlue"
                    >
                        {nombre}
                    </Typografic>
                    <Typografic as="p" variant="colorBlack">{descripcion}</Typografic>
                    <Button
                        href={`${url}/#malla-curricular`}
                        variant="theme1"
                        size="content"
                    >
                        Ver malla
                    </Button>
                </div>
                <PictureImg placeholder={imagenPlaceholder} original={imagenOriginal} style={{position: 'relative'}} />
            </SplitLayout>
        </SectionPage>
    ))
}

