---
import '@/scss/index.scss';
import { ViewTransitions } from 'astro:transitions';
import BtnWhatsApp from '@/components/BtnWhatsApp.astro';
import MiFooter, { type FooterData } from '@/sections/Footer.astro';
import { IMG__DEFAULT } from '@/constants';
import Footer from '@/sections/Footer.astro';
import type { Data } from '@/interface/Cursos';
import type { Code } from 'astro:components';

interface Props {
   titulo: string;
   descripction: string;
   image?: string;
   DataWp : Data;
}
const { titulo, descripction, image = IMG__DEFAULT, DataWp } = Astro.props;


const FooterData: FooterData[] = DataWp?.cursosDatas.nodes.map( node => ({
    slug : node.slug || '', 
    text : node.cursosMalla.id || ''
})) || [];


---

<!doctype html>
<html lang="en" style="scroll-behavior: smooth; scroll-padding-block-start: 2.5rem;" >
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta name="description" content={descripction} />
      <meta name="theme-color" content="#0610cc" />
      <link rel="icon" type="image/png" href="/img/ift.svg" />
      <title>{titulo} - Instituto de Formación Tecnologica</title>
      <link rel="sitemap" href="/sitemap-index.xml" />
      <meta property="og:title" content={titulo} />
      <meta property="og:url" content={Astro.url} />
      <meta property="og:description" content={descripction} />
      <meta property="og:type" content="website" />
      <meta property="og:image" content={image} />

      <link
         fetchpriority="high"
         rel="preload"
         as="font"
         href="/fonts/RobotoCondensed-VariableFont_wght-subset.woff2"
         type="font/woff2"
         crossorigin="anonymous"
      />
      <link
         fetchpriority="high"
         rel="preload"
         as="font"
         href="/fonts/BebasNeue-Regular.woff2"
         type="font/woff2"
         crossorigin="anonymous"
      />
      <slot name="preload" />
      <ViewTransitions />
   </head>
   <body>
      <!-- <NavBar ArrayItems={MenuData} /> -->

      <slot name="Navbar" />
      <slot />
      <slot name="CTA" />
      <BtnWhatsApp />
      <Footer dataWp={FooterData} />
      <!-- <MiFooter dataCourse={ allCurses } /> -->
   </body>
</html>

<script>
   document.addEventListener("astro:page-load", () => {
     const animationLoadingTop = new IntersectionObserver(
       (entries, observer) => {
         entries.forEach((entry) => {
           if (entry.isIntersecting) {
             entry.target.classList.add("ok");
             observer.unobserve(entry.target);
           }
         });
       }
     );
 
     const $ElementAnimationTop = [
       ...document.querySelectorAll<HTMLElement>(".loading-top"),
     ];
 
     if ($ElementAnimationTop.length > 0) {
       $ElementAnimationTop.forEach((elem) => animationLoadingTop.observe(elem));
     }
   });
 </script>
